
.loginbutton {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    text-align: center;
    width: 150px;
}



.ui-menu-list {
    background-color: rgba(255,255,255,0.6);
    color: #ffffff;
    border: none;
}
 .ui-menu {
    background-color: rgba(255,255,255,0.6);
    color: #ffffff;
    border: none;
}

.ui-layout-unit {
    border:none !important;
}

#roof {
    border:none !important;
    background-color: #336699;
    height: 80px;
}

.ui-widget-content {
    border: none;
}


.ui-panelgrid .ui-panelgrid-cell{
    border-width: 0px;
}




.ui-spinner-input {
    width: 600px;
}

.ui-inputfield {
    width: 630px;
}

.orders {
    background: url("../resources/images/orders.png") !important;
    height:20px;
    width:20px;
}

.statuses {
    background: url("../resources/images/statuses.png") !important;
    height:20px;
    width:20px;
}

.clients {
    background: url("../resources/images/clients.png") !important;
    height:20px;
    width:20px;
}

.types {
    background: url("../resources/images/types.png") !important;
    height:20px;
    width:20px;
}

.ui-menu .ui-menuitem-text {
    padding-left: 10px;
}




