#main {

    /*background-image: url("../resources/images/1.jpg");*/

    background-image: url(#{resource['images:1.jpg']});

}

#wrapper {
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    margin-top: 30px;
    /*margin-left: -300px;*/
    width: 100%;
}
#vh {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;



}
#reglink {
   /* margin: auto;
    position: relative;
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0; */
    position: absolute;
    margin-top: 350px;
    /*left: 50%;*/
    width: 100%;
}


#dpanel{
margin-top: 25px;
}

.box{
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 25px;
    width: 300px;
    height: 250px;
    background: ghostwhite;
}

.text-input{
    border:solid 1px #BFBFBB;
    box-shadow: inset 1px 1px 3px rgba(154, 147, 140, 0.5);
    background-color: #ffffff;
    height: 40px;
    width: 225px;
    border-radius: 5px;
    margin: auto;
    text-align: center;

}

.panelGridCenter {
    margin: 0 auto;
}
.loginbutton {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    text-align: center;
    width: 150px;
}

