#mainRoof {


    background: linear-gradient(45deg, linen, lightgrey);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.ar {
    background: red;
}

.logo {
    /*width: 300px;
    height: 300px;*/
    display: inline-block;
    margin-right: 20px;
}


.container{
   /* box-sizing: border-box;
    display: block;
    margin: 0 auto; */
    width: 100%;
    /*margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px; */
    margin-top: -5px;
}
.box{
    white-space:nowrap;
}
.box div{
    width:90px;
    display:inline-block;
    border:1px solid black;
}

.separatorbox {
    width: 50%;
   /* height: 300px; */
    display: inline-block;

    /*margin-right: 20px; */
}

.last {
    width: 40px;
    margin-top: 15px;
    /*height: 300px;*/
    display: inline-block;
    float: right;

}


